{% extends "backend/base/base.html" %}
{% load i18n %}

{% block content %}
<div class="mdk-header-layout__content page-content ">
  <div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
      <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
          <h2 class="mb-0">{% trans "Problem Management" %}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section border-bottom-2 mh700">
  <div class="container page__container">

    <!-- SET -->
    <form>
      <div class="form-row">
        <div class="col-sm">
          <div class="form-group">
            <label class="form-label" for="{{ form.level.id_for_label }}">{% trans "Level" %}</label>
            {{ form.level }}
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label class="form-label" for="{{ form.type.id_for_label }}">{% trans "Type" %}</label>
            {{ form.type }}
          </div>
        </div>
        <div class="col-sm">
          <label class="form-label" for="{{ form.difficult.id_for_label }}">{% trans "Difficult" %}</label>
            {{ form.difficult }}
        </div>
        <div class="col-sm">
          <label class="form-label" for="{{ form.search_type.id_for_label }}">{% trans "Search Type" %}</label>
            {{ form.search_type }}
        </div>
        <div class="col-sm">
          <label class="form-label" for="{{ form.search_text.id_for_label }}">{% trans "Search Text" %}</label>
            {{ form.search_text }}
        </div>
      </div>
    </form>
    <!-- SET // END -->

    <div class="row justify-content-end mb30">
      <button type="button" class="btn btn-accent mr8" onclick="redirect('/admin/problem/regist')">
        <i class="material-icons icon--left">add</i>
        {% trans "ADD" %}
      </button>
      <button type="button" class="btn btn-primary">
        <i class="material-icons icon--left">search</i>
        {% trans "Search" %}
      </button>
    </div>

    <div class="bg-fff">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Level" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Dfficult" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Content" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "created" %}</th>
            <th>{% trans "updated" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>N1</td>
            <td>한자읽기</td>
            <td>1</td>
            <td>★★★★★</td>
            <td>JLPT N1 한자읽기 (1)</td>
            <td>93immm</td>
            <td>2020/05/30 00:13</td>
            <td>2020/05/30 00:13</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}