<!-- Ex3. 답글 펼침 전 -->
<div class="pt-3">
  <h4>댓글 2</h4>

  <!-- Reply -->
  <div class="d-flex mb-3">
    <a href="#" class="avatar avatar-sm mr-12pt">
      <img src="/static/img/sample/p3.jpg" alt="people" class="avatar-img rounded-circle">
      <!-- <span class="avatar-title rounded-circle">JF</span> -->
    </a>
    <div class="flex">
      <a href="#" class="text-body">
        <strong>이시하라사토미</strong>
      </a>
      <br>
      <p class="mt-1 text-70">
        무료로 좋은 서비스 제공해주셔서 항상 감사합니다 :)
      </p>
      <div class="d-flex align-items-center">
        <small class="text-50 mr-2">2020-05-29 13:50</small>
        <a href="#" class="text-50">
          <small>답글 달기</small>
        </a>
      </div>
      <div class="mt5">
        <a href="#" class="text-50">
          <i class="material-icons fz18">chat_bubble</i>
          <small>답글 2개</small>
        </a>
      </div>
    </div>
  </div>
  <!-- Reply // END -->

  

</div>
<!-- Ex3 -->