{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
  <div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0" data-effects="blend-background"
    data-domfactory-upgraded="mdk-box">
    <div class="mdk-box__bg">
      <div class="mdk-box__bg-front" style="transform: translateZ(0px); will-change: opacity; opacity: 1;"></div>
      <div class="mdk-box__bg-rear" style="transform: translateZ(0px); will-change: opacity; opacity: 0;"></div>
    </div>
    <div class="mdk-box__content">
      <div class="py-64pt text-center text-sm-left">
        <div class="container d-flex flex-column justify-content-center align-items-center">
          <p class="lead text-white-50 measure-lead-max mb-0">미제출</p>
          <h1 class="text-white mb-24pt">JLPT N1 한자읽기 (1)</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- info -->
  <div class="navbar navbar-expand-sm navbar-light navbar-submenu navbar-list p-0 m-0 align-items-center">
    <div class="container page__container">
      <ul class="nav navbar-nav flex align-items-sm-center">
        <li class="nav-item navbar-list__item">
          <i class="material-icons text-muted icon--left">star</i>
          x 5
        </li>
        <li class="nav-item navbar-list__item">
          <i class="material-icons text-muted icon--left">person</i>
          운영자
        </li>
        <li class="nav-item navbar-list__item">
          <i class="material-icons text-muted icon--left">edit</i>
          퀴즈 20개
        </li>
        <li class="nav-item navbar-list__item">
          <i class="material-icons text-muted icon--left">wb_cloudy</i>
          JLPT N1
        </li>
        <li class="nav-item navbar-list__item">
          <i class="material-icons text-muted icon--left">translate</i>
          한자 읽기
        </li>
      </ul>
      <div class="row justify-content-end">
        <div class="col">
          <button type="button" class="btn btn-accent" onclick="redirect('/problem/quiz')">
            퀴즈풀기
            <i class="material-icons icon--right">keyboard_arrow_right</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- info // END -->

  <!-- quiz -->
  <div class="container page__container">
    <div class="page-section">
      <div class="card card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">형식</th>
              <th scope="col">한자</th>
              <th scope="col">히라가나</th>
              <th scope="col">카타카나</th>
              <th scope="col">한글</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>명사</td>
              <td class="pq-top">利益</td>
              <td class="pq-top">りえき</td>
              <td></td>
              <td class="pq-bot">이익</td>
            </tr>
            <tr>
              <td>2</td>
              <td>명사</td>
              <td class="pq-top">愛想</td>
              <td class="pq-top">あいそ</td>
              <td></td>
              <td class="pq-bot">애상</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- quiz // END -->

</div>
{% endblock %}