{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">

  <div 
    class="jumbotron jumbotron-fluid jt-temperedblue menu-top"
    style="background-image: url('/static/img/banner/banner2.jpg');"
  >
    <div class="container">
      <h1 class="display-5 text-left">
        <span class="menu-title">
          <span class="color-white">JLPT</span>
        </span>
      </h1>
    </div>
  </div>
  <!-- Section (1) -->
  <!-- <div class="mdk-box js-mdk-box mb-0">
    <div class="mdk-box__content">
      <div class="hero py-64pt text-center text-sm-left bg-nav">
        <div class="container page__container">
          <div class="d-flex flex-column flex-sm-row">
            <div class="order-1 order-sm-0">
              <h1 class="text-white">JLPT</h1>
              <p class="lead text-white-50 measure-hero-lead mb-24pt">
                JLPT는 Japanese Language Proficiency Test 의 약자입니다.<br>
                일본 외무성 산하 독립 행정법인 국제교류기금과 공익재단법인 일본국제교육지원협회에서 주최하는 공일 일본어 능력 시험입니다.<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Section (1) // END -->

  <!-- Section (2) -->
  <div class="page-section">
    <div class="container page__container">
      <div class="row ">
        <div class="col-md-7">
          <div class="page-separator">
            <div class="page-separator__text">JLPT5</div>
          </div>
          <p class="text-70">
          <div class="bold">읽기</div>
          히라가나나 가타가나, 일상생활에서 사용되는 기본적인 한자로 쓰여진 정형화된 어구나, 문장을 읽고 이해할 수 있다.
          <br><br>
          <div class="bold">듣기</div>
          일상생활에서 자주 접하는 장면에서 느리고 짧은 회화로부터 필요한 정보를 얻어낼 수 있다.
          </p>
        </div>
        <div class="col-md-5">
          <div class="page-separator">
            <div class="page-separator__text ">학습 목표</div>
          </div>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                한자 100 자
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                어휘 800 개
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                일본어 100시간 정도 학습
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                초급 일본어 과정을 마친 수준
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                합격률 45 ~ 60 %
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Section (2) // END -->

  <!-- Section (3) -->
  <div class="page-section">
    <div class="container page__container">
      <div class="row ">
        <div class="col-md-7">
          <div class="page-separator">
            <div class="page-separator__text">JLPT4</div>
          </div>
          <p class="text-70">
          <div class="bold">읽기</div>
          기본적인 어휘나 한자로 쓰여진, 일상생활에서 흔하게 일어나는 화제의 문장을 읽고 이해할 수 있다.
          <br><br>
          <div class="bold">듣기</div>
          일상적인 장면에서 다소 느린 속도의 회화라면 거의 내용을 이해할 수 있다.
          </p>
        </div>
        <div class="col-md-5">
          <div class="page-separator">
            <div class="page-separator__text ">학습 목표</div>
          </div>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                한자 300 자
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                어휘 1,500 개
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                일본어 300시간 정도 학습
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                초급 일본어 과정을 마친 수준
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                합격률 35 ~ 50 %
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Section (3) // END -->

  <!-- Section (4) -->
  <div class="page-section">
    <div class="container page__container">
      <div class="row ">
        <div class="col-md-7">
          <div class="page-separator">
            <div class="page-separator__text">JLPT3</div>
          </div>
          <p class="text-70">
          <div class="bold">읽기</div>
          일상적인 화제에 구체적인 내용을 나타내는 문장을 읽고 이해할 수 있으며, 신문의 기사제목등에서 정보의 개요를 파악할 수 있다. 일상적인 장면에서 난이도가 약간 높은 문장을 바꿔 제시하며 요지를
          이해할 수 있다.
          <br><br>
          <div class="bold">듣기</div>
          자연스러운 속도의 체계적 내용의 회화를 듣고, 이야기의 구체적인 내용을 등장인물의 관계등과 함께 거의 이해할 수 있다.
          </p>
        </div>
        <div class="col-md-5">
          <div class="page-separator">
            <div class="page-separator__text ">학습 목표</div>
          </div>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                한자 600 자
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                어휘 3,000 개
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                일본어 400시간 정도 학습
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                중급 일본어 과정을 마친 수준
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                합격률 35 ~ 50 %
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Section (4) // END -->

  <!-- Section (5) -->
  <div class="page-section">
    <div class="container page__container">
      <div class="row ">
        <div class="col-md-7">
          <div class="page-separator">
            <div class="page-separator__text">JLPT2</div>
          </div>
          <p class="text-70">
          <div class="bold">읽기</div>
          신문이나 잡지의 기사나 해설 평이한 평론 등, 논지가 명쾌한 문장을 읽고 문장의 내용을 이해할 수 있으며, 일반적인 화제에 관한 글을 읽고, 이야기의 흐름이나 표현의도를 이해할 수 있다.
          <br><br>
          <div class="bold">듣기</div>
          자연스러운 속도의 체계적 내용의 회화나 뉴스를 듣고, 내용의 흐름 및 등장인물의 관계를 이해하거나, 요지를 파악할 수 있다.
          </p>
        </div>
        <div class="col-md-5">
          <div class="page-separator">
            <div class="page-separator__text ">학습 목표</div>
          </div>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                한자 1,000 자
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                어휘 6,000 개
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                일본어 600시간 정도 학습
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                중급 일본어 과정을 마친 수준
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                합격률 35 ~ 50 %
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Section (5) // END -->

  <!-- Section (6) -->
  <div class="page-section">
    <div class="container page__container">
      <div class="row ">
        <div class="col-md-7">
          <div class="page-separator">
            <div class="page-separator__text">JLPT1</div>
          </div>
          <p class="text-70">
          <div class="bold">읽기</div>
          논리적으로 약간 복잡하고 추상도가 높은 문장등을 읽고, 문장의 구성과 내용을 이해할 수 있으면, 다양한 화재의 글을 읽고, 이야기의 흐름이나 상세한 표현의도를 이해할 수 있다.
          <br><br>
          <div class="bold">듣기</div>
          자연스러운 속도의 체계적 내용의 회화나 뉴스, 강의를 듣고, 내용의 흐름 및 등장인물의 관계나 내용의 논리구성 등을 상세히 이해하거나, 요지를 파악할 수 있다.
          </p>
        </div>
        <div class="col-md-5">
          <div class="page-separator">
            <div class="page-separator__text ">학습 목표</div>
          </div>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                한자 2,000 자
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                어휘 10,000 개
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                일본어 900시간 정도 학습
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                고급 일본어 과정을 마친 수준
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">
                합격률 25 ~ 35 %
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Section (6) // END -->

  <!-- Section (7) -->
  <div class="page-section bg-alt border-bottom-2">
    <div class="container page__container">
      <h4 class="mb30">시험 유형 및 시간</h4>
      <div class="row">
        <table class="table table-flush">
          <thead>
            <tr>
              <th class="tac">레벨</th>
              <th>유형</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody class="list">
            <tr>
              <td class="tac" rowspan="3">N1</td>
              <td>언어지식(문자·어휘·문법) 독해</td>
              <td>110분</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>60분</td>
            </tr>
            <tr>
              <td class="bold">합계</td>
              <td class="bold">170분</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N2</td>
              <td>언어지식(문자·어휘·문법) 독해</td>
              <td>105분</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>50분</td>
            </tr>
            <tr>
              <td class="bold">합계</td>
              <td class="bold">155분</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N3</td>
              <td>언어지식(문자·어휘·문법) 독해</td>
              <td>105분</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>40분</td>
            </tr>
            <tr>
              <td class="bold">합계</td>
              <td class="bold">145분</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N4</td>
              <td>언어지식(문자·어휘·문법) 독해</td>
              <td>95분</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>35분</td>
            </tr>
            <tr>
              <td class="bold">합계</td>
              <td class="bold">130분</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N5</td>
              <td>언어지식(문자·어휘·문법) 독해</td>
              <td>80분</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>30분</td>
            </tr>
            <tr>
              <td class="bold">합계</td>
              <td class="bold">110분</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Section (7) // END -->

  <!-- Section (7) -->
  <div class="page-section border-bottom-2">
    <div class="container page__container">
      <h4 class="mb30">시험 득점</h4>
      <div class="row">
        <table class="table table-flush">
          <thead>
            <tr>
              <th class="tac">레벨</th>
              <th>득점 구분</th>
              <th>득점 범위</th>
              <th>이하 과락</th>
            </tr>
          </thead>
          <tbody class="list">
            <tr>
              <td class="tac" rowspan="4">N1</td>
              <td>언어지식(문자·어휘·문법)</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>독해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td class="bold">종합득점</td>
              <td class="bold">0 ~ 180 점</td>
              <td>-</td>
            </tr>

            <tr>
              <td class="tac" rowspan="4">N2</td>
              <td>언어지식(문자·어휘·문법)</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>독해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td class="bold">종합득점</td>
              <td class="bold">0 ~ 180 점</td>
              <td>-</td>
            </tr>

            <tr>
              <td class="tac" rowspan="4">N3</td>
              <td>언어지식(문자·어휘·문법)</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>독해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td class="bold">종합득점</td>
              <td class="bold">0 ~ 180 점</td>
              <td>-</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N4</td>
              <td>언어지식(문자·어휘·문법)·독해</td>
              <td>0 ~ 120 점</td>
              <td>38 점</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td class="bold">종합득점</td>
              <td class="bold">0 ~ 180 점</td>
              <td>-</td>
            </tr>

            <tr>
              <td class="tac" rowspan="3">N5</td>
              <td>언어지식(문자·어휘·문법)·독해</td>
              <td>0 ~ 120 점</td>
              <td>38 점</td>
            </tr>
            <tr>
              <td>청해</td>
              <td>0 ~ 60 점</td>
              <td>19 점</td>
            </tr>
            <tr>
              <td class="bold">종합득점</td>
              <td class="bold">0 ~ 180 점</td>
              <td>-</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Section (7) // END -->
</div>
{% endblock %}