{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content ">
  <div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
      <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
          <h2 class="mb-0">Quiz Management</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section border-bottom-2 mh700">
  <div class="container page__container">

    <!-- SET -->
    <div class="form-row">
      <div class="col-sm">
        <div class="form-group">
          <label class="form-label" for="{{ form.level.id_for_label }}">Level</label>
          {{ form.level }}
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label class="form-label" for="{{ form.type.id_for_label }}">Type</label>
          {{ form.type }}
        </div>
      </div>
      <div class="col-sm">
        <label class="form-label" for="{{ form.search_type.id_for_label }}">Search Type</label>
          {{ form.search_type }}
      </div>
      <div class="col-sm">
        <label class="form-label" for="{{ form.search_text.id_for_label }}">Search Text</label>
        {{ form.search_text }}
      </div>
    </div>
    <!-- SET // END -->

    <div class="row justify-content-end mb30">
      <button type="button" class="btn btn-accent mr8" onclick="redirect('/admin/quiz/regist')">
        <i class="material-icons icon--left">add</i>
        ADD
      </button>
      <button type="button" class="btn btn-primary">
        <i class="material-icons icon--left">search</i>
        Search
      </button>
    </div>

    <div class="bg-fff">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>id</th>
            <th>level</th>
            <th>type</th>
            <th>quiz</th>
            <th>hangul</th>
            <th>right answer</th>
            <th>wrong answer1</th>
            <th>wrong answer2</th>
            <th>wrong answer3</th>
            <th>point</th>
            <th>user</th>
            <th>created_at</th>
            <th>updated_at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>N1</td>
            <td>한자읽기</td>
            <td>去年より利益がわずかに増えた</td>
            <td>작년보다 이익이 약간 늘었다</td>
            <td>りし</td>
            <td>りそく</td>
            <td>りえき</td>
            <td>りじゅん</td>
            <td>10</td>
            <td>93immm</td>
            <td>2020/05/30 00:13</td>
            <td>2020/05/30 00:13</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}