<!-- Footer -->
<div class="js-fix-footer2 bg-white border-top-2">
  <div class="container page__container page-section d-flex flex-column">
    <p class="text-70 brand mb-24pt">
      <img class="brand-icon" src="/static/img/logo.png" width="30" alt="Luma">
      <span class="bold">日本語８</span>
    </p>
    <p class="measure-lead-max text-50 small mr-8pt">
      기존에 없던 새로운 일본어 학습 웹 사이트 日本語８<br>
      여러분의 일본어 학습 및 JLPT 수험 생활을 도와드립니다.
    </p>
    <p class="mb-8pt d-flex">
      <a href="#" class="text-70 text-underline mr-8pt small">이용약관</a>
      <a href="#" class="text-70 text-underline small">개인정보처리방침</a>
    </p>
    <p class="text-50 small mt-n1 mb-0">Copyright 2020 &copy; All rights reserved.</p>
  </div>
</div>
<!-- Footer // END -->