<!-- main section -->
<div class="hero container page__container text-center text-md-left py-112pt">
  <h1 class="text-white text-shadow">ようこそ</h1>
  <p class="lead measure-hero-lead mx-auto mx-md-0 text-white text-shadow mb-48pt">
    일본어를 처음 공부하는 초보도 고수가 될 수 있다!<br>
    매일매일 포인트를 모아 성장하는 자신의 모습을 되돌아보세요
  </p>
  <a href="#" class="btn btn-lg btn-white btn--raised mb-16pt">문제 풀기</a>
  {% if False %}
  <p class="mb-0">
    <a href="#" class="text-white text-shadow">
      <strong>Are you a teacher?</strong>
    </a>
  </p>
  {% endif %}
</div>
<!-- main section // END-->