<script src="/static/assets/vendor/jquery.min.js"></script>
<script src="/static/assets/vendor/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap.min.js"></script>
<script src="/static/assets/vendor/perfect-scrollbar.min.js"></script>
<script src="/static/assets/vendor/dom-factory.js"></script>
<script src="/static/assets/vendor/material-design-kit.js"></script>
<script src="/static/assets/vendor/fix-footer.js"></script>
<script src="/static/assets/js/app.js"></script>

<script src="/static/assets/js/settings.js"></script>
<script src="/static/assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="/static/assets/js/flatpickr.js"></script>
<script src="/static/assets/vendor/moment.min.js"></script>
<script src="/static/assets/vendor/moment-range.min.js"></script>
<script src="/static/assets/vendor/Chart.min.js"></script>
<script src="/static/assets/js/chartjs.js"></script>
<script src="/static/assets/js/page.student-dashboard.js"></script>
<script src="/static/assets/vendor/list.min.js"></script>
<script src="/static/assets/js/list.js"></script>
<script src="/static/assets/js/toggle-check-all.js"></script>
<script src="/static/assets/js/check-selected-row.js"></script>

<script src="/static/assets/vendor/quill.min.js"></script>
<script src="/static/assets/js/quill.js"></script>

<script>
(function () {
  'use strict';
  var headerNode = document.querySelector('.mdk-header')
  var layoutNode = document.querySelector('.mdk-header-layout')
  var componentNode = layoutNode ? layoutNode : headerNode
  componentNode.addEventListener('domfactory-component-upgraded', function () {
    headerNode.mdkHeader.eventTarget.addEventListener('scroll', function () {
      var progress = headerNode.mdkHeader.getScrollState().progress
      var navbarNode = headerNode.querySelector('#default-navbar')
      navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
    })
  })
})()
</script>

<script>
// util.js
function redirect(url) {
  window.location.href = url;
}

function getFormData($form){
  var unindexed_array = $form.serializeArray();
  var indexed_array = {};

  $.map(unindexed_array, function(n, i){
      indexed_array[n['name']] = n['value'];
  });

  return indexed_array;
}

function alertError(txt){
  var html = ''+
  '<div id="alert_error" class="alert alert-light border-1 border-left-4 border-left-accent" role="alert">'+
  '  <div class="d-flex flex-wrap align-items-center">'+
  '    <i class="material-icons mr-8pt">error_outline</i>'+
  '    <div class="media-body" style="min-width: 180px">'+
  '      <small class="text-black-100" id="REPLACE_TEXT">'+
  '        '+ txt +
  '      </small>'+
  '    </div>'+
  '  </div>'+
  '</div>';
  return html
}
</script>

<script>
// editor.js
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  ['blockquote', 'code-block'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
  [{ 'color': [] }, { 'background': [] }],
  [{ 'align': [] }],
  ['clean']
];
var quill = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions
  },
  theme: 'snow'
});
</script>