<!-- Navbar toggler -->
<button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
  <span class="material-icons">short_text</span>
</button>
<!-- Navbar toggler // END-->

<!-- brand logo -->
<a href="/" class="navbar-brand mr-16pt">
  <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
    <img src="/static/img/logo.png" alt="logo" class="img-fluid" />
  </span>
</a>
<!-- brand logo // END -->

<!-- left nav -->
<ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
  <li class="nav-item active">
    <a href="/" class="nav-link">홈</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">JLPT</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">문제풀기</a>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">커뮤니티</a>
    <div class="dropdown-menu">
      <a href="/sample/community" class="dropdown-item">공지사항</a>
      <a href="/sample/community" class="dropdown-item">자유게시판</a>
      <a href="/sample/community" class="dropdown-item">질문게시판</a>
      <a href="/sample/community" class="dropdown-item">JLPT 합격인증</a>
    </div>
  </li>
</ul>
<!-- left nav // END-->

<!-- right nav -->
<ul class="nav navbar-nav ml-auto mr-0">
  <li class="nav-item">
    <a href="/login" class="btn btn-outline-white">로그인/회원가입</a>
  </li>
</ul>
<!-- right nav // END -->