<!-- Side Bar -->
<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>
      <div class="d-flex align-items-center navbar-height">
        <form action="fixed-index.html" class="search-form search-form--black mx-16pt pr-0 pl-16pt">
          <input type="text" class="form-control pl-0" placeholder="Search">
          <button class="btn" type="submit"><i class="material-icons">search</i></button>
        </form>
      </div>
      <a href="#" class="sidebar-brand">

        <!-- not login -->
        <!-- <span class="avatar avatar-xl sidebar-brand-icon h-auto">
          <span class="avatar-title rounded bg-primary">
            <img src="/static/img/student.png" class="img-fluid" alt="logo" />            
          </span>
        </span>
        <span>Guest</span> -->
        <!-- not login // END -->

        <!-- login -->
        <div class="profile-box">
          <img src="/static/img/sample/p1.jpg" alt="avatar" class="avatar-img rounded-circle">
        </div>
        <span class="profile-name">가다나다라마바사아자차카타파하</span>
        <!-- login // END-->

      </a>
      <div class="sidebar-heading">Quick Menu</div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
          <a class="sidebar-menu-button" href="/">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
            <span class="sidebar-menu-text">홈</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/jlpt">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">JLPT</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/problem/list">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">문제풀기</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-heading">Community</div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/sample/community">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">공지사항</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/sample/community">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">자유게시판</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/sample/community">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">질문게시판</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="/sample/community">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">JLPT 합격인증</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Side Bar // END -->