{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content ">
  <div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
      <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
          <h2 class="mb-0">마이페이지</h2>
        </div>
      </div>
      <div class="row" role="tablist">
        <div class="col-auto">
          <a href="/mypage/modify" class="btn btn-outline-secondary">개인정보 수정</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container page__container">
    <div class="page-section">
      <div class="page-separator">
        <div class="page-separator__text">프로필</div>
      </div>
      <div class="row mb-lg-8pt">

        <!-- left chart -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <div class="h2 mb-0 mr-3">46,100 Pt</div>
              <div class="flex">
                <p class="card-title">보유 포인트</p>
                <p class="card-subtitle text-50">현재 보유하고 있는 포인트입니다.</p>
              </div>
            </div>
            <div class="card-body p-24pt">
              <div class="chart" style="height: 344px;">
                <canvas 
                  id="topicIqChart" 
                  class="chart-canvas js-update-chart-line" 
                  data-chart-hide-axes="true"
                  data-chart-points="true" 
                  data-chart-suffix="points" 
                  data-chart-line-border-color="primary">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- left chart // END -->

        <div class="col-lg-6">

          <!-- right chart -->
          <div class="card">
            <div class="card-header d-flex align-items-center border-0">
              <div class="h2 mb-0 mr-3">535 Pt</div>
              <div class="flex">
                <p class="card-title">일일 포인트 증가</p>
                <p class="card-subtitle text-50">1주일 내역을 확인할 수 있습니다.</p>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="chart" style="height: 128px;">
                <canvas 
                  id="iqChart" 
                  class="chart-canvas js-update-chart-line" 
                  data-chart-hide-axes="false"
                  data-chart-points="true" 
                  data-chart-suffix="pt" 
                  data-chart-line-border-color="primary">
                </canvas>
              </div>
            </div>
          </div>
          <!-- right chart // END -->

          <div id="carouselExampleFade" class="carousel carousel-card slide mb-24pt">
            <div class="carousel-inner">

              <!-- item -->
              <div class="carousel-item active">
                <a class="card border-0 mb-0" href="">
                  <img src="/static/assets/images/achievements/flinto.png" alt="Flinto" class="card-img"
                    style="max-height: 100%; width: initial;">
                  <div class="fullbleed bg-primary" style="opacity: .5;"></div>
                  <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">JLPT N1</span>
                        <span class="text-white-60 d-block mb-24pt">2020년 5월 31일 13시 15분 인증</span>
                      </span>
                      <span class="col d-flex flex-column">
                        <span class="text-right flex mb-16pt">
                          <img src="/static/img/level/award.png" width="64" alt="JLPT N1" class="rounded">
                        </span>
                      </span>
                    </span>
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <img src="/static/assets/images/illustration/achievement/128/white.png" width="64" alt="achievement">
                      </span>
                      <span class="col d-flex flex-column">
                        <span>
                          <span class="card-title text-white mb-4pt d-block">엘리트</span>
                          <span class="text-white-60">JLPT N1 합격을 진심으로 축하드립니다!</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <!-- item // END -->

              최고급 고급 중급 초급 입문

              <!-- item -->
              <div class="carousel-item">
                <a class="card border-0 mb-0" href="">
                  <img src="/static/assets/images/achievements/angular.png" alt="Angular fundamentals" class="card-img"
                    style="max-height: 100%; width: initial;">
                  <div class="fullbleed bg-primary" style="opacity: .5;"></div>
                  <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">JLPT N2</span>
                        <span class="text-white-60 d-block mb-24pt">2020년 5월 31일 13시 15분 인증</span>
                      </span>
                      <span class="col d-flex flex-column">
                        <span class="text-right flex mb-16pt">
                          <img src="/static/img/level/second.png" width="64" alt="JLPT N2" class="rounded">
                        </span>
                      </span>
                    </span>
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <img src="/static/assets/images/illustration/achievement/128/white.png" width="64" alt="achievement">
                      </span>
                      <span class="col d-flex flex-column">
                        <span>
                          <span class="card-title text-white mb-4pt d-block">고급</span>
                          <span class="text-white-60">JLPT N2 합격을 진심으로 축하드립니다!</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <!-- item // END -->

              <!-- item -->
              <div class="carousel-item">
                <a class="card border-0 mb-0" href="">
                  <img src="/static/assets/images/achievements/angular.png" alt="Angular fundamentals" class="card-img"
                    style="max-height: 100%; width: initial;">
                  <div class="fullbleed bg-primary" style="opacity: .5;"></div>
                  <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">JLPT N3</span>
                        <span class="text-white-60 d-block mb-24pt">2020년 5월 31일 13시 15분 인증</span>
                      </span>
                      <span class="col d-flex flex-column">
                        <span class="text-right flex mb-16pt">
                          <img src="/static/img/level/third.png" width="64" alt="JLPT N3" class="rounded">
                        </span>
                      </span>
                    </span>
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <img src="/static/assets/images/illustration/achievement/128/white.png" width="64" alt="achievement">
                      </span>
                      <span class="col d-flex flex-column">
                        <span>
                          <span class="card-title text-white mb-4pt d-block">중급</span>
                          <span class="text-white-60">JLPT N3 합격을 진심으로 축하드립니다!</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <!-- item // END -->

              <!-- item -->
              <div class="carousel-item">
                <a class="card border-0 mb-0" href="">
                  <img src="/static/assets/images/achievements/angular.png" alt="Angular fundamentals" class="card-img"
                    style="max-height: 100%; width: initial;">
                  <div class="fullbleed bg-primary" style="opacity: .5;"></div>
                  <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">JLPT N4</span>
                        <span class="text-white-60 d-block mb-24pt">2020년 5월 31일 13시 15분 인증</span>
                      </span>
                      <span class="col d-flex flex-column">
                        <span class="text-right flex mb-16pt">
                          <img src="/static/img/level/bird.png" width="64" alt="JLPT N4" class="rounded">
                        </span>
                      </span>
                    </span>
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <img src="/static/assets/images/illustration/achievement/128/white.png" width="64" alt="achievement">
                      </span>
                      <span class="col d-flex flex-column">
                        <span>
                          <span class="card-title text-white mb-4pt d-block">초급</span>
                          <span class="text-white-60">JLPT N4 합격을 진심으로 축하드립니다!</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <!-- item // END -->

              <!-- item -->
              <div class="carousel-item">
                <a class="card border-0 mb-0" href="">
                  <img src="/static/assets/images/achievements/angular.png" alt="Angular fundamentals" class="card-img"
                    style="max-height: 100%; width: initial;">
                  <div class="fullbleed bg-primary" style="opacity: .5;"></div>
                  <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">JLPT N5</span>
                        <span class="text-white-60 d-block mb-24pt">2020년 5월 31일 13시 15분 인증</span>
                      </span>
                      <span class="col d-flex flex-column">
                        <span class="text-right flex mb-16pt">
                          <img src="/static/img/level/egg.png" width="64" alt="JLPT N5" class="rounded">
                        </span>
                      </span>
                    </span>
                    <span class="row flex-nowrap">
                      <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                        <img src="/static/assets/images/illustration/achievement/128/white.png" width="64" alt="achievement">
                      </span>
                      <span class="col d-flex flex-column">
                        <span>
                          <span class="card-title text-white mb-4pt d-block">입문</span>
                          <span class="text-white-60">JLPT N5 합격을 진심으로 축하드립니다!</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <!-- item // END -->

            </div>

            <!-- nav -->
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-icon material-icons" aria-hidden="true">keyboard_arrow_right</span>
              <span class="sr-only">Next</span>
            </a>
            <!-- nav // END -->
          </div>

        </div>
      </div>

      <div class="row mb-lg-16pt">
        <div class="col-lg-6 mb-8pt mb-sm-0">
          <div class="page-separator">
            <div class="page-separator__text">최근 작성한 글</div>
          </div>
          <div class="card card-sm">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">제목</th>
                  <th scope="col">등록일시</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>환불 언제쯤 받을 수 있나요?</td>
                  <td>2020/05/31 13:20</td>
                </tr>
                <tr>
                  <td>JLPT 시험 진짜로 연기됬나요?</td>
                  <td>2020/05/31 13:15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="page-separator">
            <div class="page-separator__text">최근 작성한 댓글</div>
          </div>
          <div class="card card-sm">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">댓글</th>
                  <th scope="col">등록일시</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>저도 취소 되서 마음이 너무 아퍼요 ㅠㅠ</td>
                  <td>2020/05/31 13:20</td>
                </tr>
                <tr>
                  <td>진짜로 취소 됬네요...</td>
                  <td>2020/05/31 13:15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="page-separator">
        <div class="page-separator__text">찜한 문제</div>
      </div>   -->
    </div>
  </div>
</div>
{% endblock %}