{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
  <section>
    <div class="pt-32pt pt-sm-64pt pb-32pt">
      <div class="container page__container">
        <div class="flex mb30">
          <h1 class="h2 mb-0 tac">로그인</h1>
          <p class="text-breadcrumb tac">Login</p>
        </div>
        <form class="col-md-5 p-0 mx-auto" method="POST">

          {% if alert_txt1 != None and alert_txt2 != None and alert == 'success' %}
            {% include "backend/components/alert_success.html" with txt1=alert_txt1 txt2=alert_txt2 %}
          {% elif alert_txt1 != None and alert_txt2 != None and alert == 'fail' %}
            {% include "backend/components/alert_error.html" with txt1=alert_txt1 txt2=alert_txt2 %}
          {% endif %}

          <div id="alert_area">
          </div>

          {% csrf_token %}
          <div class="form-group">
            <label class="form-label" for="{{ form.username.id_for_label }}">아이디</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ form.password.id_for_label }}">비밀번호</label>
            {{ form.password }}
            <p class="text-right mt8">
              <span class="small color-sm">비밀번호를 잊으셨나요...?</span>
              <a href="/reset" class="small color-link">비밀번호 찾기</a>
            </p>
          </div>
          <div class="text-center">
            <button id="btn_submit" type="submit" class="btn btn-primary w100p">로그인</button>
          </div>
          <p class="text-right mt8">
            <span class="small color-sm">아직 회원이 아니신가요...?</span>
            <a href="/regist" class="small color-link">회원가입</a>
          </p>
        </form>
      </div>
    </div>

    <!-- Oauth login (ready) -->
    {% if False %}
    <div class="page-separator justify-content-center m-0">
      <div class="page-separator__text">or sign-in with</div>
    </div>
    <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
      <div class="container page__container">
        <a href="#" class="btn btn-secondary btn-block-xs">Facebook</a>
        <a href="#" class="btn btn-secondary btn-block-xs">Naver</a>
        <a href="#" class="btn btn-secondary btn-block-xs">Google</a>
        <a href="#" class="btn btn-secondary btn-block-xs">Kakao</a>
      </div>
    </div>
    {% endif %}
    <!-- Oauth login (ready) // END -->

  </section>
</div>
{% endblock %}

{% block js %}
<script>
$('form').bind('submit', function(e) {
    e.preventDefault();
    login_user();
});

function login_user() {
  $('#alert_area').empty();
  $('#btn_submit').attr('disabled', true);

  var $form = $("form");
  var data = getFormData($form);

  $.ajax({
    method: "POST",
    url: "/login",
    dataType: 'json',
    data: data
  }).done(function( data ) {
    if (data.result === 200) {
      redirect('/');
    } else {
      Object.keys(data.errors).forEach(function(key) {
        $.each(data.errors[key], function( index, value ) {
          $('#alert_area').append(alertError(value));
        });
      });
      $('#btn_submit').attr('disabled', false);
    }
  }).fail(function() {
    $('#alert_area').append(alertError(UNKNOWN_ERROR));
    $('#btn_submit').attr('disabled', false);
  })
}
</script>
{% endblock %}