{% extends "backend/base/base.html" %}
{% load i18n %}

{% block content %}
<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
  <section>
    <div class="pt-32pt pt-sm-64pt pb-32pt">
      <div class="container page__container">
        <div class="flex mb30">
          <h1 class="h2 mb-0 tac">{% trans "Find Password" %}</h1>
          <p class="text-breadcrumb tac">Forgot Password</p>
        </div>
        <form class="col-md-5 p-0 mx-auto" method="POST">

          <div class="alert alert-soft-warning">
            <div class="d-flex flex-wrap">
              <div class="mr-8pt">
                <i class="material-icons">check_circle</i>
              </div>
              <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                  {% trans "When you enter your subscribed email and click 'Send Email'" %}<br>
                  {% trans "I'm sending you a link to change your password." %}
                </small>
              </div>
            </div>
          </div>

          <div id="alert_area">
          </div>

          {% csrf_token %}

          <div class="form-group">
            <label class="form-label" for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
            {{ form.email }}
          </div>
          <div class="text-center">
            <button id="btn_submit" class="btn btn-primary w100p">{% trans "Send Email" %}</button>
          </div>
          <p class="text-right mt8">
            <span class="small color-sm">{% trans "Did you remember the password?" %}</span>
            <a href="/login" class="small color-link">{% trans "Login" %}</a>
          </p>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script>
$('form').bind('submit', function(e) {
    e.preventDefault();
    send_email();
});

function send_email() {
  $('#alert_area').empty();
  $('#btn_submit').attr('disabled', true);

  var $form = $("form");
  var data = getFormData($form);

  $.ajax({
    method: "POST",
    url: "/reset",
    dataType: 'json',
    data: data
  }).done(function( data ) {
    if (data.result === 200) {
      redirect('/login?type=reset&alert=success');
    } else {
      Object.keys(data.errors).forEach(function(key) {
        $.each(data.errors[key], function( index, value ) {
          $('#alert_area').append(alertError(value));
        });
      });
      $('#btn_submit').attr('disabled', false);
    }
  }).fail(function() {
    $('#alert_area').append(alertError(UNKNOWN_ERROR));
    $('#btn_submit').attr('disabled', false);
  })
}
</script>
{% endblock %}