{% extends "backend/base/base.html" %}

{% block content %}
<div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
  <section>
    <div class="pt-32pt pt-sm-64pt pb-32pt">
      <div class="container page__container">
        <div class="flex mb30">
          <h1 class="h2 mb-0 tac">비밀번호 찾기</h1>
          <p class="text-breadcrumb tac">Forgot Password</p>
        </div>
        <form class="col-md-5 p-0 mx-auto" method="POST">
          {% csrf_token %}
          <div class="alert alert-soft-warning">
            <div class="d-flex flex-wrap">
              <div class="mr-8pt">
                <i class="material-icons">check_circle</i>
              </div>
              <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                  가입하신 이메일을 입력하신 후 "이메일 발송" 클릭 시<br>
                  비밀번호를 변경할 수 있는 링크를 보내드립니다.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ form.email.id_for_label }}">이메일</label>
            {{ form.email }}
          </div>
          <div class="text-center">
            <button id="btn_send" class="btn btn-primary w100p">이메일 발송</button>
          </div>
          <p class="text-right mt8">
            <span class="small color-sm">비밀번호가 기억나셨나요...?</span>
            <a href="/login" class="small color-link">로그인</a>
          </p>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script>
function getFormData($form){
  var unindexed_array = $form.serializeArray();
  var indexed_array = {};

  $.map(unindexed_array, function(n, i){
      indexed_array[n['name']] = n['value'];
  });

  return indexed_array;
}

$('form').bind('submit', function(e) {
    e.preventDefault();
    send_email();
});

function send_email() {
  $('#btn_send').attr('disabled', true);

  var $form = $("form");
  var data = getFormData($form);

  $.ajax({
    method: "POST",
    url: "/reset",
    dataType: 'json',
    data: data
  }).done(function( data ) {
    redirect('/login?success=reset');
  }).fail(function() {
    $('#btn_send').attr('disabled', false);
  })
}
</script>
{% endblock %}