.bold { font-weight: bold; }

.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }

.mt5 { margin-top: 5px !important; }
.mt8 { margin-top: 8px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb30 { margin-bottom: 30px !important; }

.mr3 { margin-right: 3px !important; }

.pt15 { padding-top: 15px !important; }

.pb15 { padding-bottom: 15px !important; }

.w100p { width: 100% !important; }

.fz18 { font-size: 18px !important; }

.color-white { color: #ffff !important; }
.color-link { color: #2196F3 !important; }
.color-sm { color: rgba(39,44,51,.7) !important; }

.bg-fff { background: #fff !important; }
.bg-nav { background: #5663ad !important;}

.menu-top {
  background-position: center; 
  background-size: cover; 
  position: relative;
}
.menu-title {
  background-color: rgba(0,0,0,0.5); 
  padding: 0 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.profile-box {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.profile-name {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}